.screen {
	text-align: justify;
}
.screen img {
	border: 3px solid #eee;
}
.minimap {
	display: block;
	float: right;
	width: 240px;
	padding: 0;
}
.minimap .state {
	font-size: 10px;
	width: 28px;
	height: 28px;
	margin: 1px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.minimap .state.block {
	background-color: gray;
}
.minimap .state.current {
	background-color: blue;
	color: white;
	font-weight: bold;
}
.dir-indicator {
	float: left;
	background-color: yellow;
	position: relative;
	width: 4px;
	height: 4px;
	top: 10px;
}
.dir-indicator.dir0 { top: 0px; left: 12px; }
.dir-indicator.dir1 { top: 0px; left: 24px; }
.dir-indicator.dir2 { top: 12px; left: 24px; }
.dir-indicator.dir3 { top: 24px; left: 24px; }
.dir-indicator.dir4 { top: 24px; 	left: 12px; }
.dir-indicator.dir5 { top: 24px; left: 0px; }
.dir-indicator.dir6 { top: 12px; left: 0px; }
.dir-indicator.dir7 { top: 0px; left: 0px; }
